PROJECT_NAME=fraud-detection-system
ENV=dev

GCP_PROJECT_ID=your-gcp-project-id
GCS_BUCKET_NAME=your-bucket-name
GCP_REGION=europe-west1

MLFLOW_TRACKING_URI=http://127.0.0.1:5000
MLFLOW_EXPERIMENT_NAME=fraud_detection_experiment